body {
    background-color: #efefef;
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

img {
    border: 1px solid #1d1919;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px black;
    background-color: #a4a4a4;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.titulo {
    font-size: 30px;
}

.mensagem {
    background-color: #a4a4a4;
    color: #fff;
    padding: 20px;
}

.postagem {
    border: 1px solid #1d1919;
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px black;
    background-color: #dfdfdf;
    margin: 32px auto;
}

.blog {
    display: flex;
    flex-direction: row;
}

.footer {
    padding: 10px;
    font-size: 16px;
    color: #1d1919;
    background-color: #dfdfdf;
}

.titulo {
    color: brown;
}

.paragrafo {
    font-style: italic;
}

.mensagem {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 300px;
    margin: 8px auto;
}

h1 {
    text-align: center;
}