body {
    background-color: #efefef;
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

img {
    border: 1px solid #1d1919;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px black;
    background-color: crimson;
}

.titulo {
    font-size: 30px;
}

.mensagem {
    background-color: #a4a4a4;
    color: #fff;
    padding: 20px;
    border: 10px solid lime;
}